<div class="w-full h-auto flex flex-wrap border-2 border-[#ece9e5]">
  <div
    class="px-8 py-4 text-3xl font-bold text-[#36454f] font-concert-one flex-shrink-0 w-full sm:w-1/5"
  >
    qCart
  </div>
  <div class="w-full sm:w-4/5 px-4 py-2 text-xs flex flex-col">
    <top-menu></top-menu>
    <div class="flex flex-wrap">
      <main-menu></main-menu>
    </div>
  </div>
</div>

<!-- <div
  class="w-[100%] h-auto flex flex-wrap border-solid border-2 border-[#ece9e5]"
>
  <div
    class="px-32 py-4 text-[40px] font-bold text-[#36454f] font-concert-one w-[20%]"
  >
    qCart
  </div>
  <div class="w-[80%] px-8 py-4 text-[12px]">
    <top-menu></top-menu>
    <div class="flex">
      <main-menu></main-menu>
    </div>
  </div>
</div> -->
